mixin icon
  span.icon.is-small
    i.fas.fa-xs.fa-chevron-down(aria-hidden='true')

section.section(data-aos="fade-up", data-aos-delay="200")
  .container
      .filter-toggles
        - if (ICL_LANGUAGE_CODE == 'en') 
          - $en = true
        - else
          - $en = false
          
        each $menu in ['alle', 'standorte', 'kompetenzen']
          .toggle-wrapper
            - if ($menu == 'alle')
              button(data-filtertoggle=$menu).is-white.button.filter-toggle.is-active.all
                span= t('alle', 'all')
            - else
              button(data-filtertoggle=$menu).is-white.button.filter-toggle
                - if($en && $menu == 'standorte')
                  - $menu = 'locations'
                - if($en && $menu == 'kompetenzen')
                  - $menu = 'expertise'
                span= $menu
                +icon


each $filtersection in ['standorte', 'kompetenzen']
  section.filter-section(data-filtertoggletarget=$filtersection).is-filtered
    .container
      .columns.filter(role='menu').is-multiline.is-mobile
        - $posts = fetch_custom_posts($filtersection)
        - if ($filtersection == 'standorte')
          - $filtertype = 'single'
        - else
          - $filtertype = 'multi'
        each $post in $posts
          - $t = get_the_title($post->ID) 
          - $d = 'false'
          if ($t == 'Hamburg' || $t == 'Leer')
            - $d = 'true'
           
          .column.is-one-third.filter-item(data-filter=$post->post_name, data-filtertype=$filtertype, data-title=$t, data-double=$d)  
            span!= $t  

script(src="https://cdnjs.cloudflare.com/ajax/libs/cash/8.1.0/cash.min.js")
script.
  $(function () {
    $('.column').on('click', function(){
      $('.column').removeClass('is-active2');
    })
    $('*[data-double="true"]').on('click', function(){
      setTimeout(function(){
        var t = $(this);
        setTimeout(function(){
          $('*[data-double="true"]').not(t).addClass('is-active2');
        }, 20)
      }, 10)
    });
  });
  
style.
  .filter .is-active2 span {
    padding-bottom: 3px;
    border-bottom: 1px solid #444;
  }
