- render_partial('partials/standorte')

footer
	section.social-links
		- social('linkedin', 'white')
		//- - social('facebook', 'white')
		- social('xing', 'white')

	.scrollToTop.hidden
		img(src=gfx('icons/to-top.svg'))

	section.end
		.columns.is-mobile
			.column.is-5.is-offset-1
				.buttons.has-addons.lang-switcher
					- language_selector()
			.column.is-3-desktop.is-offset-2-desktop.is-5-mobile
				.columns.is-mobile
					.column.is-half.has-text-right.impressum-link
						a(href=t('/impressum/', '/legal-notice/?lang=en'))= t('Impressum', 'Legal Notice')
					.column.is-half.has-text-right.datenschutz-link
						a(href=t('/datenschutz/', '/data-protection/?lang=en'))= t('Datenschutz', 'Data Protection')
