// Charset
meta(http-equiv="Content-type" content="text/html;charset=UTF-8")
meta(name='viewport' content='width=device-width, initial-scale=1')

// Title
title= bloginfo( 'title' ) . wp_title()

// Stylesheets
// screen.css is loaded by default with wp_head() function. See config/initializers/default_hooks.php for details

// HTML5 Shiv
<!--[if lt IE 9]>
= javascript_include_tag("http://html5shiv.googlecode.com/svn/trunk/html5.js")
<![endif]-->

link(rel='apple-touch-icon', sizes='180x180', href='/app/themes/asdlaw-wl/assets/fav/apple-touch-icon.png')
link(rel='icon', type='image/png', sizes='32x32', href='/app/themes/asdlaw-wl/assets/fav/favicon-32x32.png')
link(rel='icon', type='image/png', sizes='16x16', href='/app/themes/asdlaw-wl/assets/fav/favicon-16x16.png')
link(rel='manifest', href='/app/themes/asdlaw-wl/assets/fav/site.webmanifest')
link(rel='mask-icon', href='/app/themes/asdlaw-wl/assets/fav/safari-pinned-tab.svg', color='#194767')
meta(name='msapplication-TileColor', content='#ffffff')
meta(name='theme-color', content='#ffffff')

link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css')
script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js')
script.
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
  "palette": {
  "popup": {
  "background": "#9bbcc5",
  "text": "#163e5a"
  },
  "button": {
  "background": "#163e5a",
  "text": "#ffffff"
  }
  },
  "theme": "edgeless",
  "content": {
  "message": "Diese Website verwendet Cookies. Erfahren Sie mehr auf unserer Seite",
  "dismiss": "OK!",
  "link": "Datenschutz",
  "href": "https://asd-law.com/datenschutz/"
  }
  })});


- wp_head()
