- global $post

//- if is_front_page()
//-   .hero
//-     .inner(style='')
//-       - render_partial('partials/video-header')
//-   .hero-spacer
//- else
//- not front page

if is_archive()
  - $pt_slug = get_post_type_slug(get_post_type())
  - $page = get_page_by_path($pt_slug)
  - $hero = get_field('hero_image', $page->ID)
else
  - $hero = get_field('hero_image')
  - if (!$hero)
    - $hero = get_field('hero_image', $post->post_parent)

if $hero
  - $full = $hero['url']
  if is_post_type('anwalte')
    - $imgW = $hero[sizes]['large-retina-width']
    - $imgH = $hero[sizes]['large-retina-height']
    - $hero = $hero[sizes]['large-retina']
    - $fullW = $full[width]
    - $fullH = $full[height]
  else
    - $hero = $hero[sizes][hero]
  .hero
    - $style = 'background-image: url('.$hero.')'
    //- - $style = 'background-image: url('.$full.')'
    .inner(style=$style)
      span &nbsp;
    img(src=$hero, width=$imgW, height=$imgH).img.facecrop
    //- img(src=$full, width=$fullW, height=$fullH).img.facecrop
  .hero-spacer
  
  if is_front_page()
    .newsbanners
      a(href='https://news.asd-law.com/corona/')
        img(src=t('https://asd-law.com/app/uploads/2020/05/Stoerer_german@2x.png', 'https://asd-law.com/app/uploads/2020/05/Stoerer_engl@2x.png'))
      a(href='https://asd-law.com/karriere/4-wochen-als-praktikant-in-in-der-mainmetropole/')
        img(src=t('https://asd-law.com/app/uploads/2020/07/Stoerer_dt.svg', 'https://asd-law.com/app/uploads/2020/07/Stoerer_engl.svg'))
