script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js", charset="utf-8")

script(src="/app/themes/asdlaw-wl/assets/javascripts/vendors~main.bundle.js", charset="utf-8")
script(src="/app/themes/asdlaw-wl/assets/javascripts/main.bundle.js", charset="utf-8")

//- script(src="/app/themes/asdlaw-wl/assets/javascripts/npm.css-loader.bundle.js", charset="utf-8")
//- script(src="/app/themes/asdlaw-wl/assets/javascripts/npm.style-loader.bundle.js", charset="utf-8")

//- - script(src="npm.aos.bundle.js", charset="utf-8")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js", charset="utf-8")

//- script(src="/app/themes/asdlaw-wl/assets/javascripts/npm.browser-update.bundle.js", charset="utf-8")

//- - script(src="npm.glidejs.bundle.js", charset="utf-8")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Glide.js/3.2.3/glide.min.js", charset="utf-8")

//- - script(src="npm.jump.js.bundle.js", charset="utf-8")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/jump.js/1.0.2/jump.min.js", charset="utf-8")

//- - script(src="npm.shufflejs.bundle.js", charset="utf-8")
//- script(src="https://cdnjs.cloudflare.com/ajax/libs/Shuffle/5.2.0/shuffle.min.js", charset="utf-8")
//- 
//- script(src="/app/themes/asdlaw-wl/assets/javascripts/runtime.bundle.js", charset="utf-8")
//- 
//- script(src="/app/themes/asdlaw-wl/assets/javascripts/main.bundle.js", charset="utf-8")



script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js', async, defer)
script.
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
  "palette": {
  "popup": {
  "background": "#9bbcc5",
  "text": "#163e5a"
  },
  "button": {
  "background": "#163e5a",
  "text": "#ffffff"
  }
  },
  "theme": "edgeless",
  "content": {
  "message": "Diese Website verwendet Cookies. Erfahren Sie mehr auf unserer Seite",
  "dismiss": "OK!",
  "link": "Datenschutz",
  "href": "https://asd-law.com/datenschutz/"
  }
  })});
