- $page_data = get_page(4758)
- if(!$page_data)
  - $page_data = get_page(4512)
- $page = get_page(icl_object_id($page_data->ID, 'page', true, ICL_LANGUAGE_CODE))
- $text = $page->post_content
- $title = $page->post_title

section.section.talent-pool(data-aos="fade-up", data-aos-delay="200")
  .container
    h2.section-title= $title
    .columns
      .column.is-12
        .inner
          .text!= $text
          br
          a.button(href='mailto:karriere@asd-law.com')= t('Jetzt eintauchen', 'Join now')
