#video-header
#video-header-img
  .inner
    //- img(src="/app/uploads/2019/11/ASD_Titelbilder_MARITIME.svg")
    //- img(src="https://res.cloudinary.com/heldisch-2019/image/upload/v1573214723/ASD_Titelbilder_MARITIME_kupncu.svg")

style.
  #video-header-img {
    box-sizing: border-box;
    justify-content: flex-start;
  }
  #video-header-img img {
    padding-top: 6px;
  }
