doctype html
html(lang=ICL_LANGUAGE_CODE)
  head= render_partial("partials/head")

  - echo "<body "
  - body_class()
  - echo ">"

  - render_partial("partials/header")

  #main
    - render_partial("partials/hero")
    .page-wrapper= wl_yield()

  - render_partial("partials/footer")

  //- - render_partial("partials/debug")
  
  - render_partial("partials/scripts")
  
  - wp_footer()
