- render_partial('partials/home/kompetenzen')

- render_partial('partials/home/anwalte')
- render_partial('partials/home/anwalte-mobile')

- render_partial('partials/home/news')
- render_partial('partials/home/news-mobile')
    
- render_partial('partials/home/karriere')

- render_partial('partials/home/socialfeedgrid')
- render_partial('partials/home/socialfeedgrid-mobile')

- render_partial('partials/newsletter')
    
- render_partial('partials/awards')
