- the_post()

- $hero = get_field('hero_image')
if $hero
 .hero
   .inner
     img(src=$hero)

section.section.job(data-aos="fade-up")
  .container
    .columns.is-multiline.header
      .column.is-10.is-offset-1
        header
          h2= the_title()
      .column.is-8.is-offset-2
        //- .is-4.is-offset-4
        ul.meta
          - $s = get_field('standort')
          - if (is_array($s))
            each $st in $s
              li= $st
          - else
            li= $s
          
          - $label = acf_option_label('career_level', get_the_ID())
          li= $label
          //- li= the_field('job_cat')
          
    .columns
      .column.is-8.is-offset-2.description
        - the_content()
    .columns.bewerben
      .column.is-6.is-offset-3
        //- h3 Nunc ac malesuada nulla, in mollis eros.
        - $job = get_field('job_tool_url', get_the_ID())
        - if ($job)
          - if (strpos($job, '@') !== false)
            //- is email
            - if($st)
              - $stand = ' / '.$st
            - else if($s)
              - $stand = ' / '.$s
            - else
              - $stand = ''
            - $job = 'mailto:'.$job.'?subject='.get_the_title().$stand
            - $target = ''
          - else if ((strpos($job,'http://') === false) && (strpos($job,'https://') === false))
            //- append http if missing
            - $job = 'http://'.$job
            - $target = '_blank'
            
          a.button(href=$job, target=$target, style='margin-right: 0.5em')= t('Jetzt Bewerben', 'Apply')
        a.button(href="javascript:window.onclick = function () { window.print() }", style='margin-left: 0.5em')= t('Drucken', 'Print')
        
- render_partial('partials/newsletter')        
