- the_post()
- $content = get_the_filtered_content()
- $sub = trim(substr($content, 0, 4))
- if($sub == '<h1>')

	.welcome!= get_the_filtered_content()

- else
	
	.lawyers!= get_the_filtered_content()
