@import url('https://fonts.googleapis.com/css?family=Cardo')

@font-face
  font-family: 'Din'
  font-style: italic
  font-weight: bold
  src: url("../fonts/din/361044_2_0.woff2") format("woff2")
  // src: url("../fonts/din/361044_2_0.ttf") format("truetype")
  // src: url("../fonts/din/361044_2_0.eot")
  // src: url("../fonts/din/361044_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/din/361044_2_0.woff2") format("woff2"), url("../fonts/din/361044_2_0.woff") format("woff"), url("../fonts/din/361044_2_0.ttf") format("truetype")

//
@font-face
  font-family: 'Din'
  font-style: italic
  font-weight: 200
  src: url("../fonts/din/361044_4_0.woff2")
//   src: url("../fonts/din/361044_4_0.eot")
//   src: url("../fonts/din/361044_4_0.eot?#iefix") format("embedded-opentype"), url("../fonts/din/361044_4_0.woff2") format("woff2"), url("../fonts/din/361044_4_0.woff") format("woff"), url("../fonts/din/361044_4_0.ttf") format("truetype")
//
//
//
@font-face
  font-family: 'Din'
  font-style: normal
  font-weight: 200
  src: url("../fonts/din/361044_5_0.woff2")
  // src: url("../fonts/din/361044_5_0.eot")
//   src: url("../fonts/din/361044_5_0.eot?#iefix") format("embedded-opentype"), url("../fonts/din/361044_5_0.woff2") format("woff2"), url("../fonts/din/361044_5_0.woff") format("woff"), url("../fonts/din/361044_5_0.ttf") format("truetype")
//   font-style: normal
//   font-weight: 200
//
//
//
@font-face
  font-family: 'Din'
  font-style: normal
  font-weight: bold
  src: url("../fonts/din/361044_8_0.woff2")
//   src: url("../fonts/din/361044_8_0.eot")
//   src: url("../fonts/din/361044_8_0.eot?#iefix") format("embedded-opentype"), url("../fonts/din/361044_8_0.woff2") format("woff2"), url("../fonts/din/361044_8_0.woff") format("woff"), url("../fonts/din/361044_8_0.ttf") format("truetype")
//
//
//
@font-face
  font-family: 'Din'
  font-style: italic
  font-weight: normal
  src: url("../fonts/din/361044_A_0.woff2")
//   src: url("../fonts/din/361044_A_0.eot")
//   src: url("../fonts/din/361044_A_0.eot?#iefix") format("embedded-opentype"), url("../fonts/din/361044_A_0.woff2") format("woff2"), url("../fonts/din/361044_A_0.woff") format("woff"), url("../fonts/din/361044_A_0.ttf") format("truetype")
//
//
//
@font-face
  font-family: 'Din'
  font-style: normal
  font-weight: normal
  src: url("../fonts/din/361044_B_0.woff2") format("woff2")
//   src: url("../fonts/din/361044_B_0.eot")
//   src: url("../fonts/din/361044_B_0.eot?#iefix") format("embedded-opentype"), url("../fonts/din/361044_B_0.woff2") format("woff2"), url("../fonts/din/361044_B_0.woff") format("woff"), url("../fonts/din/361044_B_0.ttf") format("truetype")
