.top-bar .controls,
#search,
#main-menu,
#language_prompt,
.bewerben,
.section.job-alert,
.section.standorte-overview,
.section.standorte-overview,
footer,
.breaking
{
  display: none !important;
}

#site-header .top-bar {
  background: transparent !important;
}
#site-header {
  position: absolute !important;
  background: transparent !important;
}